#board {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: beige;
    display: flex;
    justify-content: center;
  }
  
  #frame {
    border-radius: 10px;
    background-image: url("../images/Forest_Background_Vector_12.jpg");
    background-size: cover;
    width: 80vw;
    height: 80vh;
    background-color: brown;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid #7A9375;
  }
  
  #player {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    position: absolute;
    background-image: url("../images/monster.png");
  }
  
  
  .obstacle {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
  }

  

  #prize {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../images/honey.png");
   
    position: absolute;
  }

  #gameoverboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7A9375;
   background-size: cover;
  }

  #sad {
    height: 200px;
    width: auto;
    padding-bottom: 70px;
  }

  #img {
    height: 200px;
    width: auto;
  }

  .h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 96px;
  }

  .p {
    padding-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  #bodystart {
    background-color:#7A9375 ;
   /* position: relative;*/
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;


  }


  .btn {

    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: none;
    padding: 15px 45px 15px 45px;    
    border-radius: 5px;
  } 

  #startpage {
    background-color: beige;
    width: 1000px;
    height: 700px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #445E49;
  }


